# MongoDB
MONGODB_URI=mongodb+srv://jhonfragozo_db_user:VCEIOecMNS5LTE8y@sapiensmongo.nzpmho3.mongodb.net/?appName=sapiensmongo

# JWT
JWT_SECRET=47fa9a01a812f9cdf4464e11c72c11734e09addd54c0ef931540ff1297f2e9459b5c0a976f711051b22a18fdf56e9856a2a7a8bbbff5da3e877a9f8b85d90958
JWT_EXPIRES_IN=7d

# App
PORT=4000
NODE_ENV=development
WEB_URL=http://localhost:3000

# Cloudinary (ya configurado en Fenalco — copiar valores)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email (nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=noreply@sapienscolab.com
